*{
  margin: 0;
  padding: 0;
  font-family:'Courier New', Courier, monospace;
  box-sizing: border-box;
}

:root{
  --color1: #ebf5ee;
  --color2: #283044;
  --color3: #064789;
  --color4: #427aa1;
  font-size: 16px;
}

@media (prefers-reduced-motion: no-preference){
  * {
    scroll-behavior: smooth;
  }
}

body{
  background-color: var(--color1);
}

h1{
  font-size: 3rem;
  font-weight: 900;
}

#home, #skills, #projects, #contacts{
  width: 100%;
  min-height: 100vh;
}

.div-title{
  padding: 3%;
  text-align: center;
  z-index: 3;
}

/* HEADER AND NAVIGATION */

header{
  width: 100%;
  align-items: center;
  height: 5rem;
  display: inline-block;
  position: fixed;
  bottom: 0rem;
  z-index: 100;
}
nav{
  width: 100%;
  max-width: 700px;
  height: 100%;
  border-radius: 15px 15px 0 0;
  border: 3px solid var(--color3);
  margin: auto;
  background-color: var(--color4);
  z-index: 100;
}
nav>ol{
  display: flex;
  justify-content:space-between;
  align-items:center;
  padding: 1rem;
}

nav>ol>li{
  display: inline-block;
}

nav>ol>li>a{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: var(--color4);
  font-size: 1rem;
  color: var(--color1);
  padding-top: 18%;
  gap: 25px;
}

nav>ol>li>a:hover{
  color: var(--color3);
  transform: color 5s ease-in;
}

.active{
  color: var(--color3);
  font-weight: 800;
  text-shadow: 2px 4px 5px var(--color1);
}

/* HOME PAGE */

#home{
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#home #background-beam{
  width: 100%;
  height: 10px;
  z-index: -1;
  background-color: var(--color3);
  position: absolute;
  box-shadow: 0px 0px 40rem var(--color3);
  animation: homeAnimation 20s linear infinite;
}

#home #background-beam2{
  width: 100%;
  height: 10px;
  z-index: -1;
  background-color: var(--color3);
  position: absolute;
  box-shadow: 0px 0px 40rem var(--color3);
  animation: homeAnimation2 20s linear infinite;
}

#home #gridBackground{
  display: grid;
  position: relative;
  top: 0;
  width: 100%;
  height: 100vh;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(15, 1fr);
  gap: 5px;
  justify-content: center;
  z-index: 1;
}

.background-tile{
  background-color: var(--color1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 2;
}

#home figure{
  width: 100%;
  margin: auto;
  position: absolute;
  top: 15%;
  z-index: 3;
}

.profile-photo{
  position: relative;
  display: block;
  margin: 1rem auto;
  width: 50%;
  max-width: 400px;
  border-radius: 50%;
  border: 1px solid var(--color3);
}

.profile-photo:hover{
  transform: scale(1.05);
  transition: transform .35s ease-in-out ;
}
.profile-photo.hover::after{
  transform: scale(1);
  transition: transform .35s ease-in-out ;
}

.intro-text{
  width: 100%;
  position: absolute;
  top: 45%;
  z-index: 4;
}

.intro-text h1{
  padding: 0 1%;
  color: var(--color1);
  text-align: center;
  animation: colorChange 15s ease-in-out infinite;
  -webkit-text-stroke: 0.3px var(--color1);
  font-size: 2.5rem;
}

.intro-text p{
  margin: 0 5%;
  padding: 1%;
  color: var(--color2);
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  -webkit-text-stroke: 0.3px var(--color2);
}

/* SKILLS */

#skills{
  background-color: var(--color1);
  overflow: hidden;
  z-index: 1;
}

#gridContainer{
  width: 90%;
  margin: 6% auto;
  display: grid;
  position: relative;
  top: 10%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
  justify-content: space-evenly;
  gap: 1%;
  z-index: 2;
}

.gridItem{
  background-color: #06478910;
  border: 1px solid var(--color3);
  padding: 3%;
}

.image-logo{
  width: 90%;
  padding: 5%;
  margin: 0 auto;
}

/* PROJECTS */

#projects{
  background-color: var(--color4);
}

#projects .div-title{
  color: var(--color1);
}

#projectContainer{
  margin: 3% 5%;
  position: relative;
}

.project-grid-item{
  border: 1px solid var(--color2);
  background-color: var(--color1);
  margin-bottom: 5%
}

.project-grid-item-header{
  background-color: var(--color3);
  padding: 3%;
  color: var(--color1);
}

.project-grid-item-description, .project-grid-item-repository{
  background-color: var(--color1);
  padding: 1% 3%;
}

.project-grid-item-description>h6{
  font-size: .8em;
  font-weight: 500;
  padding: 1% 0%;
  color: var(--color3);
}

.project-grid-item-description>p{
  font-size: 1em;
  font-weight: 500;
  padding: 1% 0%;
}

.project-grid-item-repository{
  margin: 1% auto;
}

.project-grid-item-repository>button{
  padding: 2%;
  background-color: var(--color3);
  color: var(--color1);
  border-radius: 8px;
  font-weight: 600;
}

/* CONTACTS */

#contacts{
  background-color: var(--color1);
  overflow: hidden;
}

.contactContainer{
  width: 100%;
  position: relative;
}

.contactFlexItem:first-of-type{
  display: flex;
  width: 94%;
  justify-content: space-around;
  align-items: center;
  gap: 5%;
  margin: 3%;
}

.contactFlexItem:first-of-type .contactButton{
  padding: 10px;
  margin: 1%;
  font-size: 1.5em;
  background-color: var(--color4);
  color: var(--color1);
}

.contactButton i{
  padding: 10px 0;
  margin: 10px 0;
}

.contactFlexItem:first-of-type button[type="button"]:hover{
  background-color: var(--color3);
  font-weight: 600;
  transition: all 0.4s ease-in-out;
}

.contactFlexItem:last-of-type{
  width: 93%;
  border: 3px double var(--color3);
  position: relative;
  margin: 3% auto;
  overflow: hidden;
}

form{
  width: 100%;
  margin: 0 auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-span{
  width: 98%;
  margin: 0 auto;
  padding: 30px 3% 0px 3%;
  align-content: center;
  align-items: center;
}

.contact-span:last-of-type{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
}


input:not([type=checkbox]), textarea{
  width: 100%;
  font-size: 1.2em;
  padding: 1%;
  margin: 1% auto;
}

input[type="checkbox"]{
  margin-right: 6%;
  width: 33px;
  height: 33px;
}

textarea{
  height: 300px;
}

label{
  margin-top: 2%;
}

button[type="submit"]{
  margin: 5% auto 1% auto;
  padding: 1%;
  font-size: 1.5em;
  font-weight: 600;
  background-color: var(--color3);
  color: var(--color1);
}



/* FOOTER */

footer{
  width: 100%;
  height: 12rem;
  background-color: var(--color2);
}

@media screen and (min-width: 720px){
  header{
    bottom: 1rem;
  }

  nav{
    border-radius: 15px;
  }

  nav>ol{
    justify-content:center;
    gap: 6rem;
  }

  #home #gridBackground{
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(11, 1fr);
  }

  .intro-text{
    width: 100%;
    position: absolute;
    top: 65%;
  }

  .intro-text p{
    margin: 0 8%;
    padding: 1%;
    font-size: 18px;
  }

  #gridContainer{
    margin: 6% auto;
  }

  .contactContainer .contactFlexItem{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1080px) {
  header{
    bottom: 1rem;
  }

  nav{
    border-radius: 15px;
  }

  nav>ol{
    justify-content:center;
    gap: 6rem;
  }

  #home #gridBackground{
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }

  .profile-photo{
    position: relative;
    display: block;
    margin: 1rem auto;
    width: 45%;
    max-width: 400px;
    border-radius: 50%;
    border: 3px solid var(--color3);
  }

  .intro-text{
    width: 100%;
    position: absolute;
    top: 65%;
  }
  
  .intro-text h1{
    padding: 0 1%;
    color: var(--color1);
    text-align: center;
    animation: colorChange 15s ease-in-out infinite;
    -webkit-text-stroke: 0.3px var(--color1);
  }
  
  .intro-text p{
    margin: 0 10%;
    padding: 1%;
    color: var(--color2);
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    -webkit-text-stroke: 0.3px var(--color1);
  }

  /* SKILLS */

  #gridContainer{
    margin: 5% auto;
    top: 0%;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    justify-content: space-evenly;
  }

  .image-logo{
    width: 80%;
    padding: 9%;
    margin: auto;
  }

  /* PROJECT */
  #projectContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 0% 5%;
    position: relative;
  }

  /* CONTACT */
  .contactContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    align-items: center;
    gap: 3%;
  }
}

@media screen and (min-width: 1920px) {
  header{
    bottom: 1rem;
  }

  nav{
    border-radius: 15px;
  }

  nav>ol{
    justify-content:center;
    gap: 5.5rem;
  }

  #home #gridBackground{
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }

  .profile-photo{
    position: relative;
    display: block;
    margin: 1rem auto;
    width: 45%;
    max-width: 500px;
    border-radius: 50%;
    border: 3px solid var(--color3);
  }

  .intro-text{
    width: 100%;
    position: absolute;
    top: 55%;
  }
  
  .intro-text h1{
    padding: 0 1%;
    color: var(--color1);
    text-align: center;
    animation: colorChange 15s ease-in-out infinite;
    -webkit-text-stroke: 0.3px var(--color1);
  }
  
  .intro-text p{
    margin: 0 10%;
    padding: 1%;
    color: var(--color2);
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    -webkit-text-stroke: 0.3px var(--color2);
  }

  /* SKILLS */

  #gridContainer{
    margin: 5%;
    top: 0%;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    justify-content: space-evenly;
  }

  .image-logo{
    width: 80%;
    padding: 9%;
    margin: auto;
  }
}


@keyframes homeAnimation {
  from{
    top: -40%
  }
  to{
    top: 120%
  }

}

@keyframes homeAnimation2 {
  from{
    bottom: -40%
  }
  to{
    bottom: 120%
  }

}

@keyframes colorChange {
  0% {
    color: var(--color4);
  }
  30%{
    color: var(--color1);
    -webkit-text-stroke: 0.3px var(--color2);
  }
  50% {
    color: var(--color3);
  }
  70%{
    color: var(--color1);
    -webkit-text-stroke: 0.3px var(--color2);
  }
  100% {
    color: var(--color4);
  }
}